<div class="show_container">
  <div class="show_images">
    <% if @power.photo.key %>
      <%= cl_image_tag @power.photo.key, class: "card-img-top" %>
    <% else %>
      <img src="https://i.pinimg.com/originals/eb/f6/18/ebf618e89a81e16884639ff59e95a5a0.jpg?resize=1200:*" alt="" class="card-img-top">
    <% end %>
  </div>
  <div class="show_product">
    <div>
      <h1><%= @power.name %></h1>
      <p class="show_desc"><%= @power.description %></p>
    </div>
    <div>
      <% if @power.user_id == current_user.id %>
        <% if policy(@power).edit? %>
          <%= link_to 'Edit!', edit_power_path(@power), class: 'btn btn-primary larger-btn' %>
        <% end %>
        <% if policy(@power).destroy? %>
          <%= link_to "Delete",
                      power_path(@power),
                      class: "btn btn-primary",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        <% end %>
      <% else %>
        <%= link_to 'Rent!', new_power_booking_path(@power), class: 'btn btn-primary larger-btn w-100' %>
        <%# <button class="btn btn-primary"><span>♥</span></button> %>
      <% end %>
    </div>
  </div>
</div>
