<div class="show_container">
  <div class="show_images">
    <% if @power.photo.key %>
      <%= cl_image_tag @power.photo.key, class: "card-img-top" %>
    <% else %>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2019-02/6/17/campaign_images/buzzfeed-prod-web-01/can-you-guess-which-marvel-superhero-said-these-l-2-19906-1549493548-0_dblbig.jpg?resize=1200:*" alt="" class="card-img-top">
    <% end %>
  </div>
  <div class="show_product">
    <div>
      <h1><%= @power.name %></h1>
      <p class="show_desc"><%= @power.description %></p>
    </div>
    <% if @power.user_id == current_user.id %>
      <div class="show_buttonsss">
      <% if policy(@power).edit? %>
        <%= link_to 'Edit!', edit_power_path(@power), class: 'btn btn-primary larger-btn' %>
      <% end %>
      <% if policy(@power).destroy? %>
        <%= link_to "Delete",
                    power_path(@power),
                    class: "btn btn-primary",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      <% end %>
    <% else %>
      <div class="show_buttonsss">
        <%= link_to 'Rent!', new_power_booking_path(@power), class: 'btn btn-primary larger-btn' %>
        <button class="btn btn-primary"><span>♥</span></button>
      </div>
    <% end %>
  </div>
</div>
