<div class="container">
  <div class="row">
    <br>
    <h1 class="bookings-title">All your bookings</h1>
    <% @bookings.sort_by(&:start_date).each do |booking| %>
      <div class="show_container  col-5">
        <div class="show_images">
          <% if booking.power.photo.key %>
            <%= cl_image_tag booking.power.photo.key, class: "card-img-top" %>
          <% else %>
            <img src="https://i.pinimg.com/originals/eb/f6/18/ebf618e89a81e16884639ff59e95a5a0.jpg?resize=1200:*" alt="" class="card-img-top">
          <% end %>
        </div>
        <div class="show_product">
          <div>
            <h1><%= booking.power.name %></h1>
            <p class="show_desc"><%= booking.power.description %></p>
          </div>
          <% if booking.user_id == current_user.id%>
            <div>
              <p> From: <%= booking.start_date.strftime("%d-%m-%Y") %> | To: <%= booking.end_date.strftime("%d-%m-%Y") %></p>
              <% if policy(booking).edit? %>
                <%= link_to 'Edit booking', edit_power_booking_path(power_id: booking.power, id: booking), class: "btn btn-primary larger-btn w-100  booking-button" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
